blis
certifi
chardet
ChatterBot
chatterbot-corpus
Click
cymem
Flask
gunicorn
idna
itsdangerous
Jinja2
jsonschema
MarkupSafe
mathparse
murmurhash
nltk
numpy
Pint
plac
preshed
pymongo
python-dateutil
pytz
PyYAML
requests
singledispatch
six
spacy
SQLAlchemy
srsly
thinc
tqdm
urllib3
wasabi
Werkzeug
